.card {
  display: inline-block;
  text-align: center;
  width: 3em;
  font-size: 3em;
  box-shadow: 0 8px 4px 0 rgba(163, 13, 13, 0.2);
  margin: 3em;
  user-select: none;
  margin-left: auto;
   margin-right: auto;
   width: 15%;
 }
 body{
  background-image: url('./nee.jpeg');
  height: 100;
  width: 100;
  top: 100%;
  left: 100%;
 }
  .button-show{
   
    
    
    background-color:red;
    padding: 10px 10px;
    text-align: center;
    text-decoration: brown;
    display: block;
   align-items: center;
   justify-content: center;
   align-self: auto;
   
   
}
 .activeCard {
  color: pink;
  background:
  blue;
  align-items: center;
 }
 .profile {
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 15%;
 }
  .nee{

  align-items: center;
  display: inline-block;
  user-select: none;
  margin-left: auto;
   margin-right: auto;




  }